/* Reset and Default CSS */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.container-title{
    margin-bottom: 50px;
}

:root{
    --font: 'Nunito', sans-serif;
}

.mark{
    border-radius: 5px;
    padding: 1px 4px;
    font-weight: 700;
    color: #fff;
}

.html{
    background-color: #CF4C06;
}

.css{
    background-color: #3791BF;
}

.javascript{
    background-color: #D0A40F;
}

/* Header Style */

.header-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    font-family: var(--font);
    transition: all 0.5s ease;
    z-index: 99;
}

.header-container__logo a{
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.header-container__navbar ul{
    display: flex;
    gap: 0px 40px; 
}

.header-container__navbar ul li{
    list-style: none;
}

.header-container__navbar ul li a{
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.header-container__navbar ul li a:hover,
.header-container__logo a:hover{
    color: #B30E2F;
}

.header-container__btn{
    display: none;
    z-index: 9999;
}

.header-container__btn .menu-btn{
    font-size: 32px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.show{
    color: #fff !important;
}

.header-container__logo a,
.header-container__navbar ul li a,
.header-container__btn .menu-btn{
    color: #fff;
}

.sticky{
    background-color: #B30E2F;
    height: 60px;
    box-shadow: #000 0px 2px 4px;
}

.sticky .header-container__logo a{
    font-size: 30px;
}

.sticky .header-container__logo a,
.sticky .header-container__navbar ul li a,
.sticky .header-container__btn .menu-btn{
    color: #000;
}

/* Home Style */

.home-container{
    font-family: var(--font);
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(./imgs/home-bg.jpg);
    background-size: cover;
}

.home-container__description{
    width: 500px;
    padding: 10px;
    color: #fff;
    margin-left: 150px;
}

.home-container__description h2{
    font-size: 32px;
    font-weight: 600;
}

.home-container__description h3{
    font-size: 48px;
    font-weight: 600;
}

.home-container__description p{
    font-size: 32px;
    font-weight: 800;
    color: #B30E2F;
}

/* About Style */

.about-container{
    width: 100%;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.about-container .container-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-container__img img{
    display: block;
    width: auto;
    height: 320px;
    padding: 15px;
}

.about-container__description p{
    max-width: 600px;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    text-indent: 32px;
    margin-bottom: 45px;
    padding: 15px;
}

.about-container_description--links{
    display: flex;
    justify-content: space-around;
}

.about-container_description--links ion-icon{
    font-size: 20px;
}

.about-container__description a{
    box-shadow: #000 0px 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    gap: 0 10px;
    color: #000;
    font-size: 20px;
    transition: all 0.5s ease;
}

.about-container__description a:hover{
    background-color: #000;
    color: #fff;
}

.about-container__description span{
    font-weight: 700;
}

/* Skills Style */

.skills-container{
    font-family: var(--font);
    padding: 100px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-container .container-main{
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skills-container .card-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    padding: 5px;
}

.skills-container .card-skill i{
    font-size: 48px;
    margin-bottom: 12px;
}

.skills-container .card-skill p{
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Projects Style */

.project-container{
    font-family: var(--font);
    padding: 100px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-container .container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project-container .card-project{
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: #000 0px 2px 5px;
    transition: all 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.project-container .card-project:hover{
    width: 270px;
    height: 370px
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header h2{
    font-size: 20px;
}

.block a{
    pointer-events: none;
}
.block .card-header{
    font-size: 36px;
}

.card-description{
    text-align: justify;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 210px;
    height: 160px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 700;
    font-size: 15px;
}

.card-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-links a{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: #000;
    gap: 0px 10px;
    font-weight: 700;
    font-size: 16px;
}

/* Footer Style */

.footer{
    background-color: #000;
    height: 40px;
    font-family: var(--font);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsive */

@media(max-width: 943px) {

    .header-container__btn{
        display: block;
    }    
    
    .header-container__navbar ul{
        position: fixed;
        gap: 0px 40px; 
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.98);
        left: -100%;
        top: 0%;
        text-align: center;
        flex-direction: column;
        transition: all 0.5s ease;
        justify-content: center;
    }

    .header-container__navbar ul.active{
        left: 0%;
    }

    .header-container__navbar ul.active li a{
        color: #fff;    
    }

    .header-container__navbar ul li{
        display: block;
        padding: 25px;
    }

    .home-container{
        justify-content: center;
    }

    .home-container__description{
        margin-left: 0;
        text-align: center;
    }
    
    .about-container__img img{
        width: auto;
        height: 300px;
    }
}