.tag-new::before{
    content: 'PROJETO NOVO';
    position: absolute;
    left: -10px;
    top: 35%;
    background-color: #AEE715;
    padding: 6px 20px;
    text-align: center;
    box-shadow: #000 0px 2px 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
}

.tag-update::before{
    content: 'ATUALIZAÇÃO';
    position: absolute;
    left: -10px;
    top: 35%;
    background-color: #40C9D1;
    padding: 6px 20px;
    text-align: center;
    box-shadow: #000 0px 2px 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
}

.tag-developing::before{
    content: 'EM ANDAMENTO';
    position: absolute;
    left: -10px;
    top: 35%;
    background-color: #E14B13;
    padding: 6px 20px;
    text-align: center;
    box-shadow: #000 0px 2px 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
}